.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navHeader{
  background-color:yellow;
  width:100%;
  height:100px;
}

.navbar a{
  color:black
}
.nav-items{
  padding: 20px;
  display: flex;
}
.nav-items a{
  padding: 10px;
}
.card{
  padding: 100px;
  width: 50rem;
}
.cardOperations{
  text-align: center;
  background-color: wheat;
  padding: 100px;
  width: 20rem;
}
.operations{
  display: flex;
  justify-content: space-between;

}
